@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

$font-1: "font-1", Arial, sans-serif;
$font-2: "font-1", Arial, sans-serif;

$color-1: #4DD3ED;
$color-2: #014AB0;
$color-3: black;
$white: #E5EDF7;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;
 

  a {
    text-decoration: none;
    color: inherit;
  }
}

li {
 // font-weight: bold;
 letter-spacing: 0.05rem;
  color: $color-1;
  list-style-type: none;
  font-size: 1.3em;
  
}
li:hover {
  color: $color-2;
  font-size: 1em;
}
