@charset "UTF-8";
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "font-1", Arial, sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

li {
  letter-spacing: 0.05rem;
  color: #4dd3ed;
  list-style-type: none;
  font-size: 1.3em;
}

li:hover {
  color: #014ab0;
  background: #f0f0f0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  /* ✅ Effet soulignement animé */
}
.navigation img {
  height: 170px;
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  list-style: none;
}
.navigation ul li {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  /* ✅ Sous-menu */
}
.navigation ul li .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  gap: 5px;
  top: 100%;
  left: 90%;
  list-style: none;
  z-index: 1000;
}
.navigation ul li .submenu li {
  padding: 5px 10px;
}
.navigation ul li .submenu li:hover {
  background: #f0f0f0;
}
.navigation .nav-active {
  position: relative;
}
.navigation .nav-active::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(141, 136, 136);
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: anim 0.6s ease forwards;
          animation: anim 0.6s ease forwards;
}

/* ✅ Chevron */
.submenu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.chevron {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.chevron.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* ✅ Animation */
@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}
@keyframes anim {
  to {
    width: 100%;
  }
}
.cadreImage {
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover; /* garde les proportions sans déformation */
}
.cadreImage img {
  height: 800px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* garde les proportions sans déformation */
}
.cadreImage .cadreParagraphe {
  width: 45%;
  height: 80px;
  margin-left: 30%;
}
.cadreImage p {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: -450px;
}

.savoirPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #4dd3ed;
  border-radius: 15px;
  width: 180px;
  border: none;
  margin-top: 30px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.savoirPlus p {
  margin: 0;
}

.savoirPlus:hover {
  background: #014ab0;
  font-size: 1em;
}

.savourer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -275px;
}
.savourer p {
  width: 56%;
  font-weight: bolder;
  font-size: 2.3em;
  color: white;
}

.fac-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.fac-circle i {
  font-size: 24px;
  color: #ce1919;
  cursor: pointer;
}
.fac-circle i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cadreFac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
}
.cadreFac svg.svg-inline--fa.fa-arrow-left,
.cadreFac svg.svg-inline--fa.fa-arrow-right,
.cadreFac button {
  margin-top: -300px;
  font-size: 3rem;
  color: #4dd3ed;
  cursor: pointer;
}

.cadrebassin, .c {
  height: 800px;
}

.engagement {
  margin: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.engagement-titre {
  color: #4dd3ed;
  font-weight: bold;
}

.engagement-paragraphe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  width: 55%;
  padding: 20px 0;
  font-size: 1.2rem;
}

.bar-souligne {
  height: 2px;
  width: 14%;
  background: #014ab0;
}

.footer {
  background-color: #e5edf7;
  padding: 50px 0;
  margin-top: 100px;
}
.footer .footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding: 0 230px;
}
.footer .footer-columns h4 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #333;
}
.footer .footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer .footer-section li {
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
  color: #000;
}
.footer .liens-rapides li {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer .liens-rapides li:hover {
  color: #0077b6;
}
.footer .footer-section-adresse li {
  cursor: default;
  color: #000;
}
.footer .footer-section-adresse li:hover {
  color: #000;
}
.footer .footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.footer .footer-resaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
.footer .footer-reseaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}/*# sourceMappingURL=index.css.map */