.bar-souligne-choi {
  height: 2px;
  width: 18%;
  background: #4dd3ed;
}
.choisi-paragraphe {
    margin: 150px 0;
  height: 300px;
  width: 100%;
  background: #014ab0;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: white;

    font-size: 1.2rem;
  }

  .choisir-conteneur {
    display: flex
;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0;
}
}
