.engagement {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bar-souligne.nosPoisson {
    width: 10%;
  }
}
.engagement-titre {
  font-weight: bold;
}
.engagement-paragraphe {
  text-align: center;
  width: 55%;
  padding: 20px 0;

  font-size: 3rem;
}
.bar-souligne {
  height: 2px;
  width: 14%;
  background: #4dd3ed;
}
