.cadreImage {
  height: 900px;
  //width: 100%;
  object-fit: cover; /* garde les proportions sans déformation */
  img {
    height: 1000px;
    width: 100%;
  }
  .cadreParagraphe {
    width: 45%;
    height: 80px;
    margin-left: 30%;
  }
  p {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: -500px;
  }
}

.savoirPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #4dd3ed;
  border-radius: 15px;
  width: 180px;
  border: none;
  margin-top: 30px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

  p {
    margin: 0;
  }
}
.savoirPlus:hover {
  background: #014ab0;
  font-size: 1em;
}

.savourer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -260px;

  p {
    width: 56%;
    font-weight: bolder;
    font-size: 2.3em;
    color: white;
  }
}
.fac-circle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  i {
    font-size: 24px;
    color: #ce1919;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
