.cadreImage {
  
  width: 100%;
  height: 800px;
  object-fit: cover; /* garde les proportions sans déformation */

  img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* garde les proportions sans déformation */
    
  }
  .cadreParagraphe {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  p {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: -590px;
  }
}
.savoirPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  margin-top: 64px;
  background: #4dd3ed;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease; /* animation douce */
  p {
    margin: 0;
  }
}
.savoirPlus:hover {
  background: #014ab0;
  transform: scale(1.05);
  
}
.savourer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -275px;
  p {
    width: 56%;
    font-weight: bolder;
    font-size: 2.3em;
    color: white;
  }
}
.fac-circle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  i {
    font-size: 24px;
    color: #ce1919;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.cadreFac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  svg.svg-inline--fa.fa-arrow-left,
  svg.svg-inline--fa.fa-arrow-right,
  button {
    margin-top: -29px;
    font-size: 2rem;
    color: #4dd3ed;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
.cadrebassin,
.c {
  height: 800px;
}
