.navigation {
  display: flex;
  
  justify-content: space-between;
  align-items: center;

  img {
    height: 200px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 0;
        position: absolute;
        border-radius: 10px;
        background-color: rgb(141, 136, 136);
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        animation: anim 0.6s ease forwards;
      }
    }
  }
}

// ✅ Place les keyframes en dehors des sélecteurs
@keyframes anim {
  to {
    width: 100%;
  }
}
