.offres {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar-souligne-offre {
  height: 2px;
  width: 7%;
  background: #4dd3ed;
}
.tab-offres ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 500px;
  gap: 30px;
  list-style: none;

  margin: 50px 0;
  gap: 20px;
}

.tab-offres li {
  height: 500px;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  position: relative; /* nécessaire pour positionner h4 et p */
  overflow: hidden; /* évite que le texte dépasse */
}

.tab-offres img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Texte sur l’image */
.tab-offres h2,
.tab-offres p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 80%;
}

/* Titre centré vers le haut */
.tab-offres h2 {
  top: 50%;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Paragraphe en bas, visible au hover */
.tab-offres p {
  top: 60%;
  bottom: 20px;
  font-size: 1.2rem;
  display: none;
}

.tab-offres li:hover p {
  display: block;

  font-size: 1.5rem;
}
.tab-offres {
  padding: 0 87px 0 108px;
}
